extends ../_layouts/master

append header-meta
  base(href='/')

append body-ng-controller
  - controller_name = 'Body_Controller';

append body-title
  +body-title('Angular sandbox')

append body-content
  .row
    .col-md-12
      table(data-ng-if='bc.data.length').table.table-striped.table-condensed.table-bordered.width-100pct
        thead
          tr
            th Name
            th.width-150 Address
            th.width-150 City
            th.width-100 Zip
        tbody
          tr(data-ng-repeat='row in bc.data')
            td
              strong {{::row.name}}
            td
              span {{::row.address.street}}
            td
              span {{::row.address.city}}
            td
              span {{::row.address.zipcode}}
append body-scripts
  script(src='#{locals.baseUrl?baseUrl:""}/js/ng/home/config.min.js?noc=#{cacheKey}')
  script(src='#{locals.baseUrl?baseUrl:""}/js/ng/home/controllers.min.js?noc=#{cacheKey}')
  